---
layout: default
---
<header class="masthead">        
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>
<div>
<p>Hi, I'm Christoffer. I'm a web developer.</p>

<p>I've studied Web development at Linneaus University in Sweden, and now I'm studying for a bachelor's degree in computer science.</p>

<p>Visit my <a href="https://github.com/ccholmgren">GitHub</a> to see things I've created, or look inside my <a href="/portfolio/">portfolio</a>.</p>
<p>Want to get ahold of me? Then please send an email to <a href="mailto:christoffer.holmgren@gmail.com">christoffer.holmgren@gmail.com</a> and I will get back to you as soon as possible!</p>
</div>
<div class="content list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in site.posts %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="list-post-date">
      <time>{{ post.date | date_to_string }}</time>
    </div>
  </div>
{% endfor %}
{% endif %}
</div>
